.container{
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 30px auto;
}

.form-group{
    display: flex;
    flex-direction: column;
}